<mat-form-field appearance="fill">
    <mat-label>Nombre</mat-label>
    <input matInput placeholder="Nombre">
  </mat-form-field>
  <mat-form-field appearance="fill">
    <mat-label>Categoria</mat-label>
    <mat-select>
      <mat-option value="one">First option</mat-option>
      <mat-option value="two">Second option</mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field appearance="fill">
    <mat-label>Descripción</mat-label>
    <input matInput placeholder="Descripción">
  </mat-form-field>
  <mat-form-field appearance="fill">
    <mat-label>Cantidad</mat-label>
    <input matInput placeholder="Cantidad">
  </mat-form-field>
  <mat-form-field appearance="fill">
    <mat-label>Precio Unitario</mat-label>
    <input matInput placeholder="Precio Unitario">
  </mat-form-field>

  <button class="btn btn-warning" >Guardar</button>
  <button class="btn btn-warning" >Cancelar</button>