

 .example-spacer {
    flex: 1 1 auto;
  }
  
 .example-container{
    position: static; 
    height: 100%;
    top:64px;
    left: 0;
    opacity: 0.5;
    
}

.example-sidenav{
    width: 200px;
    margin-left: 1px;
    margin-top: 68px;
}

.form:after{
    content: "";
    display: block;
    padding-bottom: 100%;

}






  
 
  
  


