body{
    background-color: yellow;
}

.signup-box {
    width: 360px;
    height: 620px;
    margin: auto;
    background-color: white;
    border-radius: 3px;

}

h1{
    text-align: center;
    padding-top: 15px;
}

::placeholder {
    color: grey;
    font-size: small;
    font-style: italic;
}

form{
    width: 300px;
    margin-left: 20px;
}

form label{
    display: flex;
    margin-top: 20px;
    font-size: 18px;
}

form input{
    width: 100px;
    padding: 7px;
    border: none;
    border: 1px solid gray;
    border-radius: 6px;
    outline: none;
}

input[type="button"]{
    width: 320px;
    height: 35px;
    margin-top: 20px;
    border: none;
    background-color: lime;
    color: black;
    font-size: 18px;
}

p{
    text-align: center;
    padding-top: 20px;
    font-size: 15px;
}