<mat-form-field appearance="fill">
  <mat-label>Usuario</mat-label>
  <input matInput placeholder="Nombre"[(ngModel)]="user.user_name">
</mat-form-field>

<mat-form-field appearance="fill">
  <mat-label>Contraseña</mat-label>
  <input matInput placeholder="Contraseña"[(ngModel)]="user.pass_user">
</mat-form-field>

<mat-form-field appearance="fill">
  <mat-label>Email</mat-label>
  <input matInput placeholder="Correo Electronico"[(ngModel)]="user.email_user">
</mat-form-field>

<mat-form-field appearance="fill">
  <mat-label>Nombre</mat-label>
  <input matInput placeholder="Nombre" [(ngModel)]="user.name_user">
</mat-form-field>


<mat-form-field appearance="fill">
  <mat-label>Apellido</mat-label>
  <input matInput placeholder="Apellido" [(ngModel)]="user.lastname_user">
</mat-form-field>

<mat-form-field appearance="fill">
  <mat-label>Rol</mat-label>
  <input matInput placeholder="Rol" [(ngModel)]="user.role_user">
</mat-form-field>


<button class="btn btn-warning" (click)="guardar()" >Guardar</button>
<button class="btn btn-warning" (click)="cancelar()">Cancelar</button>