<div class="body">

    <app-navbar></app-navbar>

    <div style="flex: auto; width: 100%;">

      <mat-card style="margin-top: 90px; opacity: 0.5; background-color: transparent; text-align: center; font-size: 40px;">CATEGORIAS</mat-card>
      <mat-form-field style="margin-top:20px; width: 50%; margin-left: 15px;">
        <input matInput (keyup)="filter($event)" placeholder="Buscar categoría">
      </mat-form-field>
       <button mat-raised-button color="primary" style="margin-top: 20px; margin-left: 290px;" (click)="exporter.exportTable('xlsx', {fileName: 'categorias_SM'})"> Exportar Excel</button>
      <button mat-raised-button color="primary" style= "margin-left: 15px;" >Agregar categoría</button>
      
      <table mat-table [dataSource]="dataSource" matTableExporter  #exporter="matTableExporter" class="mat-elevation-z8" style="margin-top: 10px; opacity: 0.5; justify-content: center; align-items: center; width: 100%;">
      
        <!-- Position Column -->
        <ng-container matColumnDef="id_category">
          <th mat-header-cell *matHeaderCellDef> ID </th>
          <td mat-cell *matCellDef="let element"> {{element.id_category}} </td>
        </ng-container>
      
        <!-- Name Column -->
        <ng-container matColumnDef="name_category">
          <th mat-header-cell *matHeaderCellDef> NOMBRE </th>
          <td mat-cell *matCellDef="let element"> {{element.name_category}} </td>
        </ng-container>
      
        
          <ng-container matColumnDef="edit-delete">
            <th mat-header-cell *matHeaderCellDef></th>
            <td mat-cell *matCellDef="let row">
                <button mat-icon-button color="primary"  aria-label="Example icon button with a home icon" (click)="open_edit_cat(row)">
                    <mat-icon>edit</mat-icon>
                  </button>
                  <button mat-icon-button color="warn"  aria-label="Example icon button with a home icon" (click)="open_dialog_delete_cat(row.id_category)">
                    <mat-icon>delete</mat-icon>
                  </button>
            </td>
          </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    
      </table>
      <mat-paginator [length]="100"
              [pageSize]="5"
              [pageSizeOptions]="[5, 10, 25, 100]"
              aria-label="Select page"
              style="opacity: 0.5; background-color: transparent;">
      </mat-paginator>
  
      
     </div> 
      
</div>

